<% provide(:title, 'about')%>
 

  <div class="center hero-unit" style="background-color :darkgreY">
  <h1>about us</h1>
  </div>
<p>


<h3>Our main functions</h3>
 
<p>
<ol>
 <h2>The main functions of Companies House are to:</h2>
 <li>incorporate and dissolve limited companies;</li>
 <li>examine and store company information delivered under the Companies Act and related legislation; and </li>
<li>make this information available to the public.</li>
</o>
</p><br/>
<p>
The Registrar of Companies
 </p>
 <p>
The Registrar of Companies for England and Wales, and Chief Executive of Companies House is Tim Moss. His office is based at Companies House in Cardiff.
 </p>
 <p>
The Registrar of Companies for Scotland is Dorothy Blair and her office is based in Edinburgh.
 </p>
 <p>
The Registrar of Companies for Northern Ireland is Helen Shilliday and her office is based in Belfast.
 </p>
 <p>
There is also an Information Centre in London.
 </p>
 <p>
Details on where to Find us and Who to Contact
 </p>
 <h2>
History
 </h2>
The United Kingdom has enjoyed a system of company registration since 1844. Today, company registration matters are dealt with in law, by the Companies Act 2006. 

All limited companies in England, Wales, Northern Ireland and Scotland are registered at Companies House, 
an Executive Agency of the Department for Business, Innovation and Skills (BIS). There are more than 2 million limited companies
 registered in Great Britain, and more than 300,000 new companies are incorporated each year. 
</p>



