<% provide(:title, 'Home')%>

<div class="center hero-unit">
  <h1>Welcome to Ruby Blog</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<img src="assets/Koala.jpg" alt="welcome image"/>
