	<footer>
    <div class="navbar-inner" style="background-color :white">
      <div class="container" >
        <nav>
          <div>
          <ul class="nav pull-left">
            <p style="text-align :left">Contact</p>
             <p style="text-align :left">vax : 076 123 456 7</p>
            <p style="text-align :left">Developed by Neeleshan Thanthony</p>
            <p style="text-align :left"><a  href="mailto:neeleshanthanthony@gmail.com">Email : Neeleshan Thanthony</a></p>
            </ul>
          </div>

          <div>
            <table >
              <tr>
                  <td>
                    <a href="https://www.twitter.com"><img src="assets/Twitter3.png"></a>
                  </td>
               
                <td>
                  <a href="https://www.faceback.com"> <img src="assets/fb.png"></a>
                </td>
              </tr>
            </table>
        </div>
        </nav>
      </div>
    </div>
    
	<footer>